## 파이썬 머신러닝 완벽 가이드 교재의 몇몇 함수들을 참고했음을 알립니다.

# 전처리

각 '설문 문항 설명'을 '프로그램 종류'를 통해 카테고리화 했음.<br>
1. '설문 문항 설명' 자체를 잠재요인 협업 필터링 해볼 것 => 자세하게 추천해줌
2. '프로그램 종류'로 잠재요인 협업 필터링 해볼 것 => 카테고리를 추천하여 그 속에 프로그램을 자유롭게 선택할 수 있음

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./만족도.csv', encoding = 'cp949')
df1 = pd.read_csv('./프로그램카테고리.csv', encoding = 'cp949')

In [3]:
df

,설문 답변 일련번호,설문 문제 일련번호,설문 답변자 고유번호,설문 답변 내용,답변 등록 일시
0,QSTNN_ANSR_CONNO,QSTNN_QUSTN_CONNO,QSTNN_ANSRR_IDNO,QSTNN_ANSR_CONT,ANSR_RGSTN_DTM
1,1,1,1,남자,2019-12-12 5:05
2,103,1,4,남자,2019-12-12 5:05
3,137,1,5,남자,2019-12-12 5:05
4,171,1,6,남자,2019-12-12 5:05
...,...,...,...,...,...
25244,42055,3147,1373,매우 만족,2019-12-12 5:05
25245,42085,3147,1374,매우 만족,2019-12-12 5:05
25246,42115,3147,1375,매우 만족,2019-12-12 5:05
25247,42145,3147,1376,매우 만족,2019-12-12 5:05
25248,42175,3147,1377,매우 만족,2019-12-12 5:05

In [4]:
df1

,설문 문제 일련번호,설문 유형 일련번호,항목 출력 순서,설문 문항 설명,프로그램 종류,설문 상세 구분 코드,설문 답항 구분 코드,설문 답항 갯수
0,QSTNN_QUSTN_CONNO,QSTNN_TPE_CONNO,IEM_OTPT_ORDR,QSTNN_QSITM_DSCRT,PROGRAM,QSTNN_DTL_TPCD,QSTNN_ANSRITM_TPCD,QSTNN_ANSRITM_CNT
1,1,1,0,성별,NaN,NaN,CD_00000000000000062,NaN
2,2,1,0,연령,NaN,NaN,CD_00000000000000062,NaN
3,3,1,0,방문여부,NaN,NaN,CD_00000000000000062,NaN
4,4,1,0,방문유형,NaN,NaN,CD_00000000000000062,NaN
...,...,...,...,...,...,...,...,...
2111,3143,460,0,내부 교육시설 쾌적성,NaN,NaN,CD_00000000000000064,NaN
2112,3144,460,0,희망사항 충족,NaN,NaN,CD_00000000000000064,NaN
2113,3145,460,0,이용 후 신뢰감 획득,NaN,NaN,CD_00000000000000064,NaN
2114,3146,460,0,재방문 의사,NaN,NaN,CD_00000000000000064,NaN
2115,3147,460,0,주변지인 소개의향,NaN,NaN,CD_00000000000000064,NaN

In [5]:
new_df1 = df[df['설문 답변 내용'] == '매우 만족']
new_df2 = df[df['설문 답변 내용'] == '만족']
new_df3 = df[df['설문 답변 내용'] == '보통']

In [6]:
new_df = pd.concat([new_df1, new_df2, new_df3])

In [7]:
new_df = new_df.drop(['설문 답변 일련번호', '답변 등록 일시'], axis = 1)

In [8]:
df1 = df1.drop(['설문 유형 일련번호', '항목 출력 순서', '설문 상세 구분 코드', '설문 답항 구분 코드','설문 답항 갯수'], axis = 1)
df1 = df1.dropna(axis = 0)
df1 = df1.drop(0)

In [9]:
result = pd.merge(df1, new_df,how ='inner', on = '설문 문제 일련번호')

In [13]:
result

     설문 문제 일련번호 설문 문항 설명 프로그램 종류 설문 답변자 고유번호 설문 답변 내용  설문 답변 내용 점수
0             7     산림체조    활력찾기           5    매우 만족            5
1             7     산림체조    활력찾기           7    매우 만족            5
2             7     산림체조    활력찾기           8    매우 만족            5
3             7     산림체조    활력찾기           9    매우 만족            5
4             7     산림체조    활력찾기          11    매우 만족            5
...         ...      ...     ...         ...      ...          ...
2923       3129     명상미인    감성충전        1373    매우 만족            5
2924       3129     명상미인    감성충전        1374    매우 만족            5
2925       3129     명상미인    감성충전        1375    매우 만족            5
2926       3129     명상미인    감성충전        1376    매우 만족            5
2927       3129     명상미인    감성충전        1377    매우 만족            5

[2928 rows x 6 columns]

In [14]:
result['설문 답변 내용 점수'] = 0

In [15]:
for i in range(len(result['설문 답변 내용'])):
    if result['설문 답변 내용'][i] == '매우 만족':
        result['설문 답변 내용 점수'][i] = 5
    elif result['설문 답변 내용'][i] == '만족':
        result['설문 답변 내용 점수'][i] = 4
    elif result['설문 답변 내용'][i] == '보통':
        result['설문 답변 내용 점수'][i] = 3

In [18]:
result['설문 답변 내용 점수'].value_counts()

5    2066
4     726
3     136
Name: 설문 답변 내용 점수, dtype: int64

In [19]:
result

     설문 문제 일련번호 설문 문항 설명 프로그램 종류 설문 답변자 고유번호 설문 답변 내용  설문 답변 내용 점수
0             7     산림체조    활력찾기           5    매우 만족            5
1             7     산림체조    활력찾기           7    매우 만족            5
2             7     산림체조    활력찾기           8    매우 만족            5
3             7     산림체조    활력찾기           9    매우 만족            5
4             7     산림체조    활력찾기          11    매우 만족            5
...         ...      ...     ...         ...      ...          ...
2923       3129     명상미인    감성충전        1373    매우 만족            5
2924       3129     명상미인    감성충전        1374    매우 만족            5
2925       3129     명상미인    감성충전        1375    매우 만족            5
2926       3129     명상미인    감성충전        1376    매우 만족            5
2927       3129     명상미인    감성충전        1377    매우 만족            5

[2928 rows x 6 columns]

잠재요인 협업 필터링 진행시 필요한 함수

In [20]:
from sklearn.metrics import mean_squared_error
# mse구해서 rsme구하는 함수
def get_rmse(R, P, Q, non_zeros):
    error = 0
    full_pred_matrix = np.dot(P, Q.T)
    
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    return rmse

In [21]:
# rmse를 이용하여 학습시키는 함수
def matrix_factorization(R, K, steps = 200, learning_rate = 0.01, r_lambda = 0.01):
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale = 1./K, size = (num_users, K))
    Q = np.random.normal(scale = 1./K, size = (num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    non_zeros = [(i, j , R[i, j])for i in range(num_users) for j in range(num_items) if R[i, j] > 0]
    
    for step in range(steps):
        for i, j, r in non_zeros:
            eij = r - np.dot(P[i,:], Q[j,:].T)
            P[i, :] = P[i,:] + learning_rate*(eij * Q[j, :] - r_lambda * P[i,:])
            Q[j, :] = Q[j,:] + learning_rate*(eij * P[i, :] - r_lambda * Q[j,:])
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0:
            print("###iteration step: ", step," rmse: ", rmse)
            
    return P, Q

In [22]:
# 참여하지 않은 활동을 골라내는 함수
def get_undo_activities(ratings_matrix, userId):
    user_rating = ratings_matrix.loc[userId, :]
    already_done = user_rating[user_rating > 0].index.tolist()
    activities_list = ratings_matrix.columns.tolist()
    
    undo_list = [activity for activity in activities_list if activity not in already_done]
    return undo_list

In [23]:
# 참여하지 않은 활동을 골라낸 함수를 이용해 활동을 추천해 주는 함수
def recomm_activity_by_userid(pred_df, userId, undo_list, top_n = 10):
    recomm_activities = pred_df.loc[userId, undo_list].sort_values(ascending = False)[:top_n]
    return recomm_activities

설문 문항 설명을 이용한 잠재요인 협업 필터링

In [24]:
result_pivot2 = pd.pivot_table(result, index = '설문 답변자 고유번호', values = '설문 답변 내용 점수', columns = '설문 문항 설명')#, fill_value = 0)
result_pivot2

설문 문항 설명,감성미인(비눗방울),건강한 삶의 시작,건강해 要(요),고래도 춤추게 한다,고래도 춤추게 한다,공예미인(머그컵꾸미기),그린타워,나를 찾는 숲,나무 누리,나무액자 만들기,...,티셔츠에 그리는 자연,팀워크카프라,편백 팔찌 만들기,편백향기 주머니 만들기,한지ECO,행복꼼지락,향기 누리,활력드林,힐링궁전,힐링에코백 만들기
설문 답변자 고유번호,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN

In [25]:
# 학습
P, Q = matrix_factorization(result_pivot2.values, K= 50, steps = 200, learning_rate = 0.01, r_lambda = 0.01)

###iteration step:  0  rmse:  4.689123800917009
###iteration step:  10  rmse:  1.2124442141749319
###iteration step:  20  rmse:  0.34442347987967165
###iteration step:  30  rmse:  0.23999922343181052
###iteration step:  40  rmse:  0.22061442636756545
###iteration step:  50  rmse:  0.2039274824353683
###iteration step:  60  rmse:  0.18530668314383178
###iteration step:  70  rmse:  0.16580604146874983
###iteration step:  80  rmse:  0.14776884569581533
###iteration step:  90  rmse:  0.1323221897539015
###iteration step:  100  rmse:  0.11922222316811323
###iteration step:  110  rmse:  0.10794317348851305
###iteration step:  120  rmse:  0.09816117198396103
###iteration step:  130  rmse:  0.08968814418295429
###iteration step:  140  rmse:  0.08235716930408363
###iteration step:  150  rmse:  0.07600003084398062
###iteration step:  160  rmse:  0.07046582000993651
###iteration step:  170  rmse:  0.0656321807962085
###iteration step:  180  rmse:  0.06140212133431569
###iteration step:  190  rmse:  0.05769572646202087

In [26]:
pred_matrix = np.dot(P, Q.T)

In [27]:
# dataframe으로 만들기
last = pd.DataFrame(data = pred_matrix, index = result_pivot2.index, columns = result_pivot2.columns)

In [28]:
# userId 100인 사람에게 추천해주기
undo_list = get_undo_activities(result_pivot2, '100')
recomm_activities = recomm_activity_by_userid(last, '100', undo_list, top_n = 10)
recomm_activities = pd.DataFrame(data = recomm_activities.values, index = recomm_activities.index, columns = ['pred_score'])
recomm_activities

           pred_score
설문 문항 설명
실내숲치유        4.952314
명상           4.915732
소통화담치유2      3.816029
심신팔찌만들기      3.411935
야외숲치유        3.283051
숲으로 풍덩       1.937104
추억액자         1.513421
티셔츠만들기       1.323901
힐링궁전         1.286631
편백 팔찌 만들기    1.164358

프로그램 종류를 이용한 잠재요인 협업 필터링

In [135]:
result_pivot = pd.pivot_table(result, index= '설문 답변자 고유번호', values = '설문 답변 내용 점수', columns = '프로그램 종류')#,fill_value = 0)
result_pivot

프로그램 종류      가치찾기  감성충전  누리체험  자연친구  행복찾기  활력찾기  활력충전
설문 답변자 고유번호
1             NaN   NaN   NaN   NaN   NaN   5.0   NaN
10            NaN   NaN   NaN   NaN   NaN   4.0   NaN
100           NaN   NaN   NaN   NaN   NaN   5.0   5.0
1000          NaN   5.0   NaN   NaN   NaN   5.0   NaN
1001          NaN   4.5   NaN   NaN   NaN   5.0   NaN
...           ...   ...   ...   ...   ...   ...   ...
995           NaN   4.0   NaN   NaN   NaN   3.5   NaN
996           NaN   5.0   NaN   NaN   NaN   5.0   NaN
997           NaN   4.0   NaN   NaN   NaN   4.0   NaN
998           NaN   4.0   NaN   NaN   NaN   3.5   NaN
999           NaN   4.0   NaN   NaN   NaN   4.0   NaN

[735 rows x 7 columns]

In [136]:
P, Q = matrix_factorization(result_pivot.values, K= 50, steps = 200, learning_rate = 0.01, r_lambda = 0.01)

###iteration step:  0  rmse:  4.674111202778583
###iteration step:  10  rmse:  0.23359974364080646
###iteration step:  20  rmse:  0.15566505739064226
###iteration step:  30  rmse:  0.12301140129737413
###iteration step:  40  rmse:  0.10110513214193129
###iteration step:  50  rmse:  0.0863948199634635
###iteration step:  60  rmse:  0.0761488770902986
###iteration step:  70  rmse:  0.06870090630577677
###iteration step:  80  rmse:  0.06307994300479702
###iteration step:  90  rmse:  0.058707407612346
###iteration step:  100  rmse:  0.05522008187238846
###iteration step:  110  rmse:  0.0523783751776667
###iteration step:  120  rmse:  0.050017841127993075
###iteration step:  130  rmse:  0.04802211490937354
###iteration step:  140  rmse:  0.046307136810996526
###iteration step:  150  rmse:  0.04481142569376067
###iteration step:  160  rmse:  0.04348964707234979
###iteration step:  170  rmse:  0.042308112027062375
###iteration step:  180  rmse:  0.041241540623695054
###iteration step:  190  rmse:  0.040270725658886196

In [137]:
pred_matrix = np.dot(P, Q.T)

In [138]:
last = pd.DataFrame(data = pred_matrix, index = result_pivot.index, columns = result_pivot.columns)

In [140]:
undo_list = get_undo_activities(result_pivot, '100')
recomm_activities = recomm_activity_by_userid(last, '100', undo_list, top_n = 10)
recomm_activities = pd.DataFrame(data = recomm_activities.values, index = recomm_activities.index, columns = ['pred_score'])
recomm_activities

         pred_score
프로그램 종류
감성충전       4.370781
자연친구       4.333989
행복찾기       4.113336
가치찾기       3.941470
누리체험       0.226159